.jh{
  background: #ff9000;
  margin: 0;
}
.button1{
  background-image: url("|||.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  width: 10%;
  height: 5%;
  border: 0;
  position: absolute;
  top: 2%;
  left: 2%;
}
.button1.activo{
  background-image: url("x.svg");
  position: absolute;
  transition: 200ms;
  left: 60%;
  z-index: 1000;
}
.xd.activo{
  width: 75%;
  height: 100%;
  background: lightgray;
  position: absolute;
  top: 0%;
  left: -100%;
  animation: 200ms ani forwards;
  display: flex;
  justify-content: center;
}
@keyframes ani{
  0%{
    left: -100%;
  }
  100%{
    left: 0%;
  }
}
.buttonedit.activo{
  border: 5px solid black;
  background-color: black;
  color: #ccc;
  width: 60%;
  height: 5%;
  border-radius: 10%;
  opacity: 1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  top: 12%;
}
.buttonedit{
  background-color: #ff9000;
  border: 0;
  opacity: 0;
  user-select: none;
  position: absolute;
  top: -10000%;
}
/*agunegro.html*/
.ProjectAgujeroNegroBody{
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agujero{
  background: black;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  filter: drop-shadow(0 0 20px orange);
  border: 16px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.borde{
  background: orange;
  border-radius: 50%;
  border: 16px solid orange;
  position: absolute;
  width: 500px;
  height: 300px;
  transform: rotateX(70deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
  border-radius: 50%;
  border: 20px solid black;
  background-color: black;
  width: 240px;
  height: 240px;
  position: absolute;
  bottom: 33%;
  transform: rotateX(4deg);
}